@mixin flexBox($direction, $align, $content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $content;
}

@mixin clip{
  -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    background-image: linear-gradient(to right, rgb(122, 0, 0), rgb(255, 0, 0), rgb(255, 153, 0),rgb(255, 217, 0));
    background-size:100%;
}

@mixin Gradient{
  background-image: linear-gradient(to right, rgb(122, 0, 0), rgb(255, 0, 0), rgb(255, 153, 0),rgb(255, 217, 0));
  background-size:100%;
}