* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 110px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}

.container_popup .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  border-radius: 30px;
  display: inline-block;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #ff5100;
  height: auto;
  padding: 90px;
  border-radius: 30px;
  background-color: black;
  -webkit-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out;
}

#welcome h1 {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  font-size: 70px;
  word-break: normal;
  margin-bottom: 20px;
}

#welcome h2 {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  margin-bottom: 60px;
  font-size: 30px;
  text-align: center;
}

#playspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100;
  width: 100%;
  margin-bottom: 50px;
}

.questionCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  color: #ff5100;
  padding: 5px;
  border-radius: 30px;
  max-width: 900px;
}

.questionCard .inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.questionCard h2 {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  border-bottom: solid 3px #252525;
  padding-bottom: 10px;
  color: #ff5100;
  margin-bottom: 40px;
  font-size: 25px;
}

.questionCard label {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  padding: 10px;
  font-size: 20px;
  color: #ff5100;
}

.questionCard input[type="radio"] {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.questionCard input[type="checkbox"] {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.box-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.check-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.button_container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  width: 100%;
}

button {
  font-size: 30px;
  font-weight: bold;
  border: none;
  padding: 30px;
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  display: block;
}

button:hover {
  background-color: #2e2e2e;
}

button:active {
  background-color: #636363;
}

.button_container {
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding: 3px;
}

span {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
}

span:hover {
  -webkit-transition: 0.9s all linear;
  transition: 0.9s all linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: solid 3px #ff5100;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 20px;
  z-index: 0.9;
  -webkit-transition: 3s;
  transition: 3s;
  padding: 20px;
}

.score-container p, .score-container h2 {
  font-size: 70px;
  font-weight: bold;
  color: #ff5100;
}

.score-container h2 {
  font-size: 50px;
  -webkit-animation: movement 5s infinite;
          animation: movement 5s infinite;
}

@-webkit-keyframes movement {
  from {
    -webkit-transform: scale 1;
            transform: scale 1;
  }
  to {
    -webkit-transform: scale 1.3;
            transform: scale 1.3;
  }
}

@keyframes movement {
  from {
    -webkit-transform: scale 1;
            transform: scale 1;
  }
  to {
    -webkit-transform: scale 1.3;
            transform: scale 1.3;
  }
}

.score-container p {
  border: #ff5100 3px solid;
  border-radius: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.score-container .feedback {
  font-size: 50px;
  border: none;
  line-height: 70px;
}

.score-container .inner-scoreContainer {
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 20px;
  z-index: 1;
}

.result-list {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  color: #ff5100;
  font-size: 20px;
  height: 100%;
  width: 100%;
  font-weight: bold;
  padding: 30px;
  line-height: 60px;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#7a0000), color-stop(red), color-stop(#ff9900), to(#ffd900));
  background-image: linear-gradient(to right, #7a0000, red, #ff9900, #ffd900);
  background-size: 100%;
  border-radius: 30px;
  padding: 5px;
  height: 100%;
  width: 100%;
  z-index: 0.5;
}
/*# sourceMappingURL=styles.css.map */